.envrc
data
target
private.sbt
.settings
.classpath
.cache
.project
readme.content
*~
local.*
.idea
*.csv
*.sc

# Documentation website related excludes
out/
node_modules
build
i18n
/website/docs
cilib-docs
/project/*
.metals
.bloop
.bsp
.direnv
