<!--

    Copyright (C) 2003 - 2009
    Computational Intelligence Research Group (CIRG@UP)
    Department of Computer Science
    University of Pretoria
    South Africa

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

-->
<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">

<module name="Checker">
  <!--<module name="JavadocPackage" />-->
  <module name="NewlineAtEndOfFile" />
  <!--  <module name="PackageHtml" /> -->

  <module name="TreeWalker">
    <module name="JavadocType">
      <property name="scope" value="package" />
    </module>
    <module name="JavadocMethod">
      <property name="scope" value="package" />
      <property name="allowMissingParamTags" value="false" />
      <property name="allowMissingThrowsTags" value="false" />
      <property name="allowMissingReturnTag" value="false" />
      <property name="allowMissingJavadoc" value="false" />
      <property name="allowUndeclaredRTE" value="true" />
    </module>

    <module name="JavadocStyle">
      <property name="scope" value="package" />
    </module>

    <module name="ConstantName" />
    <module name="LocalFinalVariableName" />
    <module name="LocalVariableName">
      <property name="format" value="^[a-z][a-zA-Z0-9_]*$" />
    </module>
    <module name="MemberName" />
    <module name="MethodName" />
    <module name="PackageName" />
    <module name="ParameterName" />
    <module name="StaticVariableName" />
    <module name="TypeName" />

    <!-- Import checks -->
    <module name="IllegalImport" />
    <module name="RedundantImport" />
    <module name="UnusedImports" />
    <module name="ImportOrder" />

    <!-- Size Violations -->
    <module name="FileLength" />

    <!-- Whitespace Violations -->
    <module name="EmptyForIteratorPad" />
    <module name="MethodParamPad" />
    <module name="NoWhitespaceAfter">
      <property name="tokens" value="BNOT, DEC, DOT, INC, LNOT, UNARY_MINUS, UNARY_PLUS" />
    </module>
    <module name="NoWhitespaceBefore" />
    <module name="OperatorWrap">
      <property name="option" value="eol" />
    </module>
    <module name="ParenPad" />
    <module name="TypecastParenPad" />
    <module name="WhitespaceAfter" />

    <!-- Modifier checks -->
    <module name="ModifierOrder" />
    <module name="RedundantModifier">
      <property name="tokens" value="ANNOTATION_FIELD_DEF" />
    </module>

    <!-- Checks for code blocks -->
    <module name="AvoidNestedBlocks">
      <property name="allowInSwitchCase" value="true" />
    </module>
    <module name="EmptyBlock" />
    <module name="LeftCurly" />
    <module name="RightCurly">
      <property name="option" value="alone" />
    </module>

    <!-- Checks for common problems -->
    <module name="ArrayTrailingComma" />
    <module name="DoubleCheckedLocking" />
    <module name="EmptyStatement" />
    <module name="EqualsHashCode" />
    <module name="RedundantThrows" />
    <module name="SimplifyBooleanExpression" />
    <module name="SimplifyBooleanReturn" />

    <!-- Checks for class design -->
    <module name="FinalClass" />
    <module name="HideUtilityClassConstructor" />
    <module name="InterfaceIsType" />

    <!-- Miscellaneous checks -->
    <module name="ArrayTypeStyle" />
    <module name="EqualsHashCode" />
    <!--<module name="GenericIllegalRegexp">
      <property name="format" value="\s+$" />
      <property name="message" value="Line has trailing spaces." />
    </module>-->
    <!--<module name="TodoComment">
      <property name="format" value="TODO" />
    </module>-->
    <module name="UpperEll" />
  </module>
</module>
