name: CI

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        scala: [ "2.13.8", "3.1.3" ]
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v17

      - name: Lint check
        run: nix shell --command 'sbt' -Dsbt.supershell=false ++${{ matrix.scala }} check

      - name: Test
        run: nix shell --command 'sbt' -Dsbt.supershell=false ++${{ matrix.scala }} test

      - name: Generate docs and build website
        run: nix shell --command 'sbt' docs/docusaurusCreateSite
