name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build, test and publish gh-pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - uses: cachix/install-nix-action@v6

      - run: nix-shell --run 'sbt -Dsbt.supershell=false test && sbt -Dsbt.sueprshell=false docs/mdoc'

      - name: Build website
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: nix-shell --run 'sbt docs/buildWebsite'

      - name: Publish gh-pages
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: peaceiris/actions-gh-pages@v2
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./website/build
          SCRIPT_MODE: true
        with:
          forceOrphan: true
        run: |
          wget https://raw.githubusercontent.com/peaceiris/actions-gh-pages/v2/entrypoint.sh
          bash ./entrypoint.sh
