name: CI

on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and run tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: cachix/install-nix-action@v14

      - name: Lint check
        run: nix-shell --run 'sbt -Dsbt.supershell=false check'

      - name: Test
        run: nix-shell --run 'sbt -Dsbt.supershell=false test'

      - name: Generate docs and build website
        run: nix-shell --run 'sbt docs/docusaurusCreateSite'
