name: build
on:
  pull_request:
  push:
    branches:
      - master

jobs:
  build:
    name: Build and test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: cachix/install-nix-action@v6
      - run: nix-shell --run 'sbt test && sbt docs/mdoc'

  ghpages-deploy:
    if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1
        with:
          fetch-depth: 1
      - uses: cachix/install-nix-action@v6
      - run: nix-shell --run 'sbt docs/buildWebsite'

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./website/build
        with:
          forceOrphan: true
